@page
@model MascotaFeliz.App.Frontend.Pages.DetallesVeterinariosModel
@{
}
@* <h1> Detalles del </h1>
<div>
    Id: @Model.veterinario.Id
    </div>
    <div>
    Nombre: 
    </div>
    <div>
    Apellido: 
    </div>
    <div>
    Direccion: 
    </div>
    <div>
    Telefono: 
    </div>
    <div>
    Tarjeta Profesional: @Model.veterinario.
    </div>
    <a asp-page="./" class="btn-default"> Lista de Veterinarios</a> *@
    <link rel="stylesheet" href="~/css/Estilos.css">
<h1 class="propietarios">Detalles Veterinario</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Tarjeta Profesional</th>

            

        </tr>
    </thead>

    <tr>

        <td>@Model.veterinario.Id</td>
        <td>@Model.veterinario.Nombres</td>
        <td>@Model.veterinario.Apellidos</td>
        <td>@Model.veterinario.Direccion</td>
        <td>@Model.veterinario.Telefono</td>
        <td>@Model.veterinario.TarjetaProfesional</td>
        

    </tr>

</table>
<div>
    <a asp-page="./ListaVeterinarios" class="btn-listado">Lista Veterinario </a>
</div>