@page
@model MascotaFeliz.App.Frontend.Pages.DetallesDuenosModel
@{
}

<link rel="stylesheet" href="~/css/Estilos.css">
<h1 class="propietarios">Detalles Propietarios</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Correo</th>

        </tr>
    </thead>

    <tr>

        <td>@Model.dueno.Id</td>
        <td>@Model.dueno.Nombres</td>
        <td>@Model.dueno.Apellidos</td>
        <td>@Model.dueno.Direccion</td>
        <td>@Model.dueno.Telefono</td>
        <td>@Model.dueno.Correo</td>

    </tr>

</table>
<div>
    <a asp-page="./ListaDuenos" class="btn-listado">Lista Propietarios </a>
</div>
