@page
@model MascotaFeliz.App.Frontend.Pages.EditarMascotasModel
@{
    int mascotaId = Model.mascota.Id;
}
@* <h2 class="propietarios"> Editar Mascotas </h2> *@

@* <form method= "post" >
    <div class= "form group">
    <input type="hidden" asp-for = "mascota.Id" />
    <label asp-for="mascota.Nombre"></label>
    <input asp-for="mascota.Nombre" class="form-control">
    <label asp-for="mascota.Color"></label>
    <input asp-for="mascota.Color" class="form-control">
    <label asp-for="mascota.Especie"></label>
    <input asp-for="mascota.Especie" class="form-control">
    <label asp-for="mascota.Raza"></label>
    <input asp-for="mascota.Raza" class="form-control">

    <button type="sbmit" class="btnn btn-primary">Grabar</button>
    </div>
    </form>

    <a asp-page="./listaMascotas" class="btn-default">Lista de Mascotas </a> *@

@* /////////////////////////////////////////////////////////// *@

<body class="Back">


    <form method="post">
        <div id="particles-js"></div>
        <section class="registro">
            <div class="formulario">
                <h4>Formulario de Registro</h4>
                <input type="hidden" asp-for="mascota.Id" />
                <input class="controls" asp-for="mascota.Nombre" placeholder="Nombres">
                <input class="controls" asp-for="mascota.Color" placeholder="Color">
                <input class="controls" asp-for="mascota.Especie" placeholder="Especie">
                <input class="controls" asp-for="mascota.Raza" placeholder="Raza">
                <select id="dueno" asp-for="mascota.Dueno.Id" name="duenoId">
                    <option value="0">Seleccione un Dueño</option>
                    @foreach (var dueno in Model.listaDuenos)
                    {
                        <option value="@dueno.Id">@dueno.Nombres @dueno.Apellidos</option>
                    }
                </select>
                @* <label for="veterinario">Veterinario</label> *@
                <select id="veterinario" asp-for="mascota.Veterinario.Id" name="veterinarioId">
                    <option value="0">Seleccione un Veterinario</option>
                    @foreach (var veterinario in Model.listaVeterinarios)
                    {
                        <option value="@veterinario.Id">@veterinario.Nombres @veterinario.Apellidos</option>
                    }
                </select>

                <button type="submit" class="boton">Registrar</button>
                @* <a asp-page="./listaMascotas" class="boton-regresar">Regresar </a> *@

            </div>
        </section>
    </form>
    <script src="~/js/JS_copy/particles.js"></script>
    <script src="~/js/JS_copy/app.js"></script>
    <div id="video-slow">
        <video src="~/imgs/slow.mp4" autoplay muted loop width="600" height="480" class="slow1"></video>
    </div>

</body>