@page
@model MascotaFeliz.App.Frontend.Pages.ListaMascotasModel
@{
}
<link rel="stylesheet" href="~/css/Estilos.css">
<h1 class="propietarios">Listado de Mascotas</h1>
<table class="table">
    <thead>
            <tr>
                <th>Nombre</th>
                <th>Color</th>
                <th>Especie</th>
                <th>Raza</th>
                <th>Detalles</th>
                <th>Edición de datos</th>
            </tr>
    </thead>
    
    @foreach (var mascota in Model.listaMascotas)
    {
        <tr>
            
           
            <td>@mascota.Nombre</td>
            <td>@mascota.Color</td>
            <td>@mascota.Especie</td>
            <td>@mascota.Raza</td>
           
           
            <td>
                <a class = "btn-listado" asp-page="./DetallesMascotas" asp-route-mascotaId="@mascota.Id">
                Detalle Mascota
                </a>
            </td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./EditarMascotas" asp-route-mascotaId="@mascota.Id">
                    Editar
                </a>
            </td>
            
        </tr>
    }
</table>
<a class = "btn btn-primary table-btn" asp-page="./EditarMascotas" class="btn-default">Adicionar Mascota</a>